<div class="raceManagementPanel">
  <div class="managementPanel">
    <button class="race" (click)="startAnimation()"> RACE</button>
    <button class="reset" (click)="resetAnimation()"> RESET</button>

  </div>
  <div class="managementPanel">
    <input type="text" placeholder="TYPE CAR BRAND">
    <input type="color">
    <button class="create">CREATE</button>
  </div>
  <div class="managementPanel">
    <input type="text" placeholder="TYPE CAR BRAND">
    <input type="color">
    <button class="update">UPDATE</button>
  </div>
  <div class="managementPanel">
    <button class="generate">GENERATE CARS</button>
  </div>
</div>

<div class="table-cars">

  <div class="card">
    <p-table
      [value]="customers"
      [paginator]="true"
      [rows]="7">

      <ng-template #body let-customer let-rowIndex="rowIndex">
        <tr>
          <td class="td-row">
            <div class="car-item">

              <div class="car-controls">
                <button>SELECT</button>
                <button>REMOVE</button>
              </div>

              <div class="car-controls">
                <button >A</button>
                <button >B</button>
              </div>

              <div class="car-row">

                <div class="car">
                  <div class="car-lain" #boxContainer style="position: relative">
                     <span class="material-symbols-outlined icon box"
                           [ngStyle]="{ 'margin-left': + positions[rowIndex] +'%' }"
                           [style.color]="customer.color">local_shipping</span>
                  </div>

                </div>

                <div class="route">
                  <p>{{ customer.name }}</p>
                  <div class="finish">
                    <img src="images/finish.png" alt="Garage Finish">
                  </div>
                </div>

              </div>

            </div>
          </td>
        </tr>
      </ng-template>

    </p-table>
  </div>

</div>



