<div class="raceManagementPanel">
  <div class="managementPanel">
    <button class="race" (click)="startAnimation()" > RACE</button>
    <button class="reset" (click)="resetAnimation()"> RESET</button>

  </div>
  <div class="managementPanel">
    <input type="text" placeholder="TYPE CAR BRAND" [(ngModel)]="createCarText">
    <input type="color" [(ngModel)]="createCarColor">
    <button class="create" (click)="createCar()" [disabled]="!createCarText || finishAnimation">CREATE</button>
  </div>
  <div class="managementPanel">
    <input type="text" placeholder="TYPE CAR BRAND" [(ngModel)]="updateCarText">
    <input type="color" [(ngModel)]="updateCarColor">
    <button class="update" (click)="updateCar()" [disabled]="!updateCarText || finishAnimation">UPDATE</button>
  </div>
  <div class="managementPanel">
    <button class="generate" (click)="generateCars()" [disabled]="finishAnimation">GENERATE CARS</button>
  </div>
</div>

<div class="table-cars" *ngIf="customers.length">

  <div class="card">
    <p-table
      [value]="customers"
      [paginator]="true"
      [rows]="7"
      [first]="first"
      (onPage)="onPageChange($event)">

      <ng-template #body let-customer let-rowIndex="rowIndex">
        <tr>
          <td class="td-row">
            <div class="car-item">

              <div class="car-controls">
                <button (click)="selectCar(customer)" [disabled]="finishAnimation">SELECT</button>
                <button (click)="removeCars(customer.id)" [disabled]="finishAnimation">REMOVE</button>
              </div>

              <div class="car-controls">
                <button (click)="startThisCar(rowIndex)" [disabled]="finishAnimation">A</button>
                <button (click)="resetThisCar(rowIndex)" [disabled]="finishAnimation">B</button>
              </div>

              <div class="car-row">

                <div class="car">
                  <div class="car-lain" #carContainer style="position: relative">
                    <i class="fa-duotone fa-solid fa-car-side material-symbols-outlined"
                       [ngStyle]="{ 'margin-left': + positions[rowIndex] +'%' }"
                       [style.color]="customer.color"></i>
                  </div>

                </div>

                <div class="route">
                  <p class="carName">{{ customer.name }}</p>
                  <div class="finish">
                    <img src="images/finish.png" alt="Garage Finish">
                  </div>
                </div>

              </div>

            </div>
          </td>
        </tr>
      </ng-template>

    </p-table>
  </div>

</div>

<div *ngIf="!customers.length">
  <h1>no Cars</h1>
</div>

<div class="modal-overlay" *ngIf="isModalOpen">
  <div class="modal">
    <h2>Winner</h2>
    <p>{{winnerName}}</p>
    <p>{{winnerTime}} S</p>
  </div>
</div>
