<p-table
  *ngIf="customers.length"
  [value]="customers"
  [paginator]="true"
  [rows]="10"
  [first]="first"
  (onPage)="onPageChange($event)">
  <ng-template #header>
    <tr>
      <th style="width:20%">NUMBER</th>
      <th style="width:20%">CAR</th>
      <th style="width:20%">NAME</th>
      <th style="width:20%">WINS</th>
      <th style="width:20%">BEST TIME (SECONDS)</th>
    </tr>
  </ng-template>
  <ng-template #body let-customer>
    <tr>
      <td>{{ customer.id }}</td>
      <td>
        <i class="fa-duotone fa-solid fa-car-side material-symbols-outlined"
           [style.color]="customer.color"></i>
      </td>
      <td><p class="carName">{{ customer.name }}</p></td>
      <td>{{ customer.wins }}</td>
      <td>{{ customer.time }} </td>
    </tr>
  </ng-template>
</p-table>

<div *ngIf="!customers.length">
  <h1>no Winners</h1>
</div>
